<h2>Product</h2>

<strong>Title</strong>
<%= @product.title %><br>

<strong>Description</strong>
<%= @product.description %><br>

<strong>image_url</strong>
<%= @product.image_url %><br>

<strong>price</strong>
<%= @product.price %><br>

<%= link_to 'Back to all', products_path %>
<%= link_to 'Edit this product', edit_product_path %>
